apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 80.10.0
    helm:
      releaseName: kube-prometheus-stack
      skipCrds: true
      values: |
        grafana:
          enabled: false
          forceDeployDashboards: true
        prometheus:
          ingress:
            enabled: true
            pathType: Prefix
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt
              kubernetes.io/ingress.class: nginx
              kubernetes.io/tls-acme: 'true'
            hosts:
              - prom-server.checinski.xyz
            tls:
              - hosts:
                - prom-server.checinski.xyz
                secretName: prom-server-checinski-xyz-tls
  destination:
    server: "https://kubernetes.default.svc"
    namespace: kube-prometheus-stack
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true